.wrapper {
  min-height: 100vh;
}

.cardBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.dataCard {
  border-top: 3px solid #77216f;
}

/*
  @classreference
  code-snippet:
    Root element:
        .p-code-snippet:
            Main element of the code snippet component.
        "&.is-bordered":
            Bordered variant, to be used when additional content (such as iframes) is used inside the code snippet component.

    Code block:
        .p-code-snippet__block:
            Code block without any additonal styling elements.
        "&.is-wrapped":
            Code block with wrapped content in lines.
        .p-code-snippet__block--icon:
            Code block that starts with an icon. Default icon is a UNIX prompt. To be used with Linux CLI examples.
        "&.is-windows-prompt":
            Changes the `.p-code-snippet__block--icon` to use a Windows prompt icon. To be used with Windows CLI examples.
        "&.is-url":
            Changes the `.p-code-snippet__block--icon` to use a link icon. To be used with URLs.
        .p-code-snippet__block--numbered:
            Code block with numbered lines of code (to be used with longer pieces of code examples). Requires `.p-code-snippet__line`.

    Code line:
        .p-code-snippet__line:
            A wrapper around single line of code. Needed with numbered variant of a code block.

    Code block header:
        .p-code-snippet__header:
            A header of a code block. Contains a title and optional dropdowns.
        "&.is-stacked":
            A stacked version of a header (with a title displayed above the dropdowns). To be used when there are multiple dropdowns with a long title.

    Code block title:
        .p-code-snippet__title:
            The title of a code block.

    Dropdowns container:
        .p-code-snippet__dropdowns:
            The container element for any dropdowns in the header.

    Dropdown:
        .p-code-snippet__dropdown:
            An individual dropdown in code block header.
*/
/*
  @classreference
  notification:
    Root element:
        .p-notification:
            Notification in default variant. Same as `.p-notification--information`.
        .p-notification--information:
            Information notification. Same as default `.p-notification`.
        .p-notification--positive:
            Positive notification.
        .p-notification--caution:
            Caution notification.
        .p-notification--negative:
            Negative notification.
        "&.is-borderless":
            Borderless variant of notification. Used when notification is embeded into another container element.
        "&.is-inline":
            Inline version of notification with title and message rendered side by side.

    Content container:
        .p-notification__content:
            Container element for notification content (title and message).

    Title:
        .p-notification__title:
            The notification title.

    Message:
        .p-notification__message:
            Text of the notification message.

    Close button:
        .p-notification__close:
            The button to close the notification.

    Meta-data container:
        .p-notification__meta:
            The container element for notification meta-data (timestamp and action buttons).

    Timestamp:
        .p-notification__timestamp:
            Notification timestamp or date.

    Actions container:
        .p-notification__actions:
            Container element for notification action buttons.

    Action button:
        .p-notification__action:
            Single action button.
*/
/*
  @classreference
  side-navigation:
    Root element:
        .p-side-navigation:
            Side navigation in default variant.
        .p-side-navigation--icons:
            Side navigation with item icons.
        .p-side-navigation--accordion:
            Side navigation with expanding accordion items.
        .p-side-navigation--raw-html:
            Raw HTML version of side navigation (used with links generated by an external service).
        "&.is-drawer-expanded":
            Set `.is-drawer-expanded` when side navigation drawer is open on small screens.
        "&.is-drawer-collapsed":
            Set `.is-drawer-collapsed` when side navigation drawer is closed on small screens.
        "&.is-drawer-hidden":
            Set `.is-drawer-hidden` when side navigation drawer is closed on small screens.
        "&.is-sticky":
            Sticky version of side navigation.
        "&.is-dark":
            Side navigation in dark theme (if default is light).
        "&.is-light":
            Side navigation in light theme (if default is dark).

    Overlay:
        .p-side-navigation__overlay:
            Screen overlay to display when side navigation drawer is open on small screens.

    Drawer:
        .p-side-navigation__drawer:
            Side navigation drawer (to allow expanding and collapsing the navigation on small screens).

    Drawer header:
        .p-side-navigation__drawer-header:
            Header of the side navigation drawer.

    Toggle button:
        .p-side-navigation__toggle:
            Side navigation toggle button (to open side navigation on small screens).
        .p-side-navigation__toggle--in-drawer:
            Side navigation toggle button in drawer (to close navigation on small screens).

    Items list heading:
        .p-side-navigation__heading:
            Heading for side navigation items group (text only).
        .p-side-navigation__heading--linked:
            Heading for side navigation items group that contains a link (`.p-side-navigation__link`).

    Items list:
        .p-side-navigation__list:
            Group of side navigation items (usually a `<ul>` element).

    Item element:
        .p-side-navigation__item:
            Single item in side navigation (usually a `<li>` element). May contain nested items lists.
        .p-side-navigation__item--title:
            Single title item in side navigation (usually a `<li>` element).
        "&.has-active-child":
            Set `.has-active-child` on a item that contains an active nested item. This is used in collapsible side navigation in application layout.

    Item link:
        .p-side-navigation__link:
            Single link in the side navigation.

    Item text:
        .p-side-navigation__text:
            Single text item in side navigation (for items that are not linked).

    Item accordion button:
        .p-side-navigation__accordion-button:
            Single accordion button item in side navigation with `.p-side-navigation--accordion` variant.

    Item icon:
        .p-side-navigation__icon:
            An icon in side navigation item (used with `.p-side-navigation--icons` variant).

    Item status:
        .p-side-navigation__status:
            A container for status icon or label inside the navigation item.
*//*# sourceMappingURL=style.css.map */